.Frame
{
    width: 100vw;
    height: 200px;
    background-color: rgb(255, 211, 155);
    position: absolute;
}
.Ball
{
    height: 30px;
    width: 30px;
    background-color: rgb(255, 0, 13);
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
}